:root {
    /* Board items colors */
	--color-blue-board-item-background: rgb(0, 100, 200);
	--color-blue-board-item-border: rgb(0, 95, 195);
	--color-blue-board-item-text: rgb(160, 180, 250);
	--color-blue-board-item-stroke: rgb(0, 60, 130);

	--color-dark-grey-board-item-background: rgb(40, 40, 40);
	--color-dark-grey-board-item-border: rgb(35, 35, 35);
	--color-dark-grey-board-item-text: rgb(80, 80, 80);
	--color-dark-grey-board-item-stroke: rgb(20, 20, 20);

	--color-green-board-item-background: rgb(0, 190, 50);
	--color-green-board-item-border: rgb(0, 185, 45);
	--color-green-board-item-text: rgb(0, 130, 0);
	--color-green-board-item-stroke: rgb(0, 130, 0);

	--color-grey-board-item-background: rgb(60, 60, 60);
	--color-grey-board-item-border: rgb(55, 55, 55);
	--color-grey-board-item-text: rgb(100, 100, 100);
	--color-grey-board-item-stroke: rgb(40, 40, 40);

	--color-light-grey-board-item-background: rgb(160, 160, 160);
	--color-light-grey-board-item-border: rgb(155, 155, 155);
	--color-light-grey-board-item-text: rgb(200, 200, 200);
	--color-light-grey-board-item-stroke: rgb(140, 140, 140);

	--color-yellow-board-item-background: rgb(200, 180, 0);
	--color-yellow-board-item-border: rgb(195, 175, 0);
	--color-yellow-board-item-text: rgb(250, 250, 250);
	--color-yellow-board-item-stroke: rgb(100, 100, 60);

    /* Board tags colors */
    --color-blue-board-tag-background: rgb(45, 45, 145);
    --color-blue-board-tag-border: rgb(50, 50, 150);

    --color-green-board-tag-background: rgb(25, 115, 0);
    --color-green-board-tag-border: rgb(20, 110, 0);

    --color-orange-board-tag-background: rgb(170, 110, 0);
    --color-orange-board-tag-border: rgb(165, 105, 0);

    --color-turquoise-board-tag-background: rgb(0, 145, 160);
    --color-turquoise-board-tag-border: rgb(0, 150, 165);
}