/* Reusable state Content layout :
    This layout will automatically distribute each element of a state on a grid with equal
    spacing for each element
 */

.state-content-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.state-section {
    height: 100%;
    padding: 15px;
}

/* State division properties*/

.experiment-state-division {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.state-division-text {
    font-size: calc(1vh + 1vw);
    text-align: center;
    white-space: pre-line;
}

.footnote-button {
    font-size: calc(1vh + 1vw);
    max-width: 800px;
    background-color: rgb(50, 185, 255);
    border: 3px solid rgb(55, 190, 250);
    border-radius: 10px;
	margin: 10px;
	height: initial;
	padding: 15px;
	flex: 1;
}

.smaller-button {
    font-size: calc(0.6vh + 0.6vw);
}