/* Reusable state Content layout :
    This layout will automatically distribute each element of a state on a grid with equal
    spacing for each element
     */

.-standard-state-content-grid {
    display: grid;
    justify-content: center;
    align-content: space-between;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(0, 1fr);
    grid-row-gap: 2.5%;
}

/* State division properties*/

.experiment-state-division {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.state-division-text {
    font-size: calc(1vh + 1vw);
    text-align: center;
    white-space: pre-line;
}
