@import "color-palette.css";

.input-spacing,
.output-spacing {
    padding: 2.5px 10px;
    outline: none;
}

.edited-text,
.edited-input {
    color: var(--color-edited-text);
    outline-color: var(--color-edited-text);
    outline-style: double;
}

.invalid-input {
    border-width: 3px;
    border-color: red;
}

.selected-text,
.selected-input {
    color: var(--color-selected-text);
}

input,
select,
button,
textarea {
    background-color: white;
    border: 2px solid rgb(210, 210, 210);
    color: black;
    padding: 2.5px;
}