.editor-box-form {
    --form-background-color: rgb(40, 40, 40);
    --inner-form-background-color: rgb(50, 50, 50);
    --selected-element-text-color: rgb(24, 210, 24);
}

.editor-box-form {
    background-color: var(--form-background-color);
}

.editor-box-form label {
    display: block;
    padding: 10px 0;
    font-size: 1em;
}

.editor-box-form input,
.editor-box-form select {
    display: inline-block;
    width: 100%;
    padding: 0.4em 0;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 0.8em;
}

.selected-element-text-color {
    color: var(--selected-element-text-color);
}

/* Template elements */

.checkbox {
    width: 30px;
    height: 30px;
}
