/* TODO: Delete this file once the code will have been adjusted */

.selected-element-text {
    color: rgb(24, 210, 24);
}

/* Template elements */

.checkbox {
    width: 30px;
    height: 30px;
}

input,
select,
button,
textarea {
    background-color: white;
    border: 2px solid rgb(210, 210, 210);
    color: black;
    padding: 2.5px;
}
