.page-grid {
  display: grid;
  grid-template-columns: 250px;
  grid-template-areas: "sidebar main";
  height: 100%;
  width: 100%;
}

.sidebar-position {
  grid-area: sidebar;
}

.sidebar {
  background-color: rgb(15, 15, 15);
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: rgb(35, 35, 35);
  border-collapse: collapse;
  width: 250px;
  height: 100%;
  position: fixed;
  left: 0;
  z-index: 10;
}

/* "a" tag is also associated to the "router-link" */

.sidebar a {
  display: block;
  height: 60px;
  border-collapse: collapse;
  padding: 15px 8px 15px 16px;
  text-decoration: none;
  font-size: 22px;
  color: rgb(200, 200, 200);
}

.sidebar .currentLink {
  background-color: rgb(60, 60, 60);
  border-left: solid rgb(0, 100, 255) 5px;
  color: white;
}

.sidebar a:hover:not(.currentLink) {
  background-color: rgb(30, 30, 30);
  border-left: solid rgb(0, 100, 255) 5px;
  color: white;
}

.main-position {
  grid-area: main;
}

.main-display {
  display: block;
  min-width: 700px;
}