/* Template classes for the playing modes */
.playing-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.playing-visual-media-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 100%;
}

.playing-progress-bar-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
}

progress {
    height: 25px;
    width: 70%;
    max-width: 600px;
    border-radius: 12px;
    border-style: solid;
    border-width: 5px;
}

progress::-webkit-progress-bar {
    background-color: rgb(200, 200, 200);
    border-radius: 3px;
}

progress::-webkit-progress-value {
    background-color: rgb(53, 206, 253);
    border-radius: 3px;
}