.widget {
  display: grid;
  padding: 25px;
  grid-gap: 25px;
}

.inner-widget {
  padding: 20px 40px;
  background-color: rgb(40, 40, 40);
}

.inner-inner-widget {
  padding: 20px 20px;
  margin: 10px 0px;
  background-color: rgb(50, 50, 50);
}

.editor-size-fix {
  /* This property is required in the parent HTML element of a codeMirror component 
    to prevent the codeMirror component to expend boundlessly */
  min-width: 0;
}

.widget-bg {
  background-color: rgb(25, 25, 25);
  border-bottom: solid rgb(30, 30, 30) 1px;
  border-left: solid rgb(50, 50, 50) 5px;
}

.inner-widget-bg {
  background-color: rgb(40, 40, 40);
}

.widget-bg:hover,
.widget-bg:focus-within,
.widget-bg.activated {
  background-color: rgb(35, 35, 35);
  border-left: solid rgb(0, 100, 255) 5px;
}

/* Button */

.widget-button {
  min-width: auto;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 10px 10px;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
}

.widget-button.small {
  border-width: 1px;
  border-radius: 2px;
  padding: 5px;
  font-size: 0.8em;
}

/* Blue button */

.widget-button.blue {
  color: white;
  background-color: rgb(0, 0, 120);
  border-color: rgb(0, 0, 140);
}

.widget-button.blue:hover {
  background-color: rgb(0, 0, 100);
  border-color: rgb(0, 0, 120);
}

.widget-button.blue:active {
  background-color: rgb(0, 0, 80);
  border-color: rgb(0, 0, 100);
}

/* Turquoise button */

.widget-button.turquoise {
  color: white;
  background-color: rgb(0, 120, 120);
  border-color: rgb(0, 140, 140);
}

.widget-button.turquoise:hover {
  background-color: rgb(0, 100, 100);
  border-color: rgb(0, 120, 120);
}

.widget-button.turquoise:active {
  background-color: rgb(0, 80, 80);
  border-color: rgb(0, 100, 100);
}

/* Green button */

.widget-button.green {
  color: white;
  background-color: rgb(0, 120, 0);
  border-color: rgb(0, 140, 0);
}

.widget-button.green:hover {
  background-color: rgb(0, 100, 0);
  border-color: rgb(0, 120, 0);
}

.widget-button.green:active {
  background-color: rgb(0, 80, 0);
  border-color: rgb(0, 100, 0);
}

/* Red button */

.widget-button.red {
  color: white;
  background-color: rgb(120, 0, 0);
  border-color: rgb(140, 0, 0);
}

.widget-button.red:hover {
  background-color: rgb(100, 0, 0);
  border-color: rgb(120, 0, 0);
}

.widget-button.red:active {
  background-color: rgb(80, 0, 0);
  border-color: rgb(100, 0, 0);
}

/* Orange button */

.widget-button.orange {
  color: white;
  background-color: rgb(200, 80, 0);
  border-color: rgb(220, 100, 0);
}

.widget-button.orange:hover {
  background-color: rgb(180, 60, 0);
  border-color: rgb(200, 80, 0);
}

.widget-button.orange:active {
  background-color: rgb(160, 40, 0);
  border-color: rgb(180, 60, 0);
}

/* Inactive button */

.widget-button.inactive,
.widget-button.inactive:hover,
.widget-button.inactive:active {
  background-color: rgb(160, 160, 160);
  border-color: rgb(180, 180, 180);
  cursor: default;
  outline: none;
}

/* Table */

.widget-table-context {
  width: 100%;
  max-height: 750px;
  display: block;
  overflow-y: auto;
}

.widget-table-context table,
.widget-table-context th,
.widget-table-context td {
  border-collapse: collapse;
}

.widget-table-context table {
  color: rgb(200, 200, 200);
  width: 100%;
}

.widget-table-context thead {
  background-color: rgb(25, 25, 30);
  font-size: 0.9em;
  overflow-y: auto;
}

.widget-table-context tbody {
  font-size: 0.8em;
}

.widget-table-context tbody > tr:nth-child(odd) {
  background-color: rgb(45, 45, 50);
}

.widget-table-context tbody > tr:nth-child(even) {
  background-color: rgb(30, 30, 35);
}

.widget-table-context tbody > tr:hover {
  background-color: rgb(100, 100, 105);
}

.widget-table-context tbody > tr.selected {
  background-color: rgb(100, 200, 50);
  color: black;
}

.widget-table-context thead > tr {
  background-color: inherit;
}

.widget-table-context th {
  background-color: inherit;
  padding: 5px;
  text-align: center;
  position: sticky;
  top: 0;
}

.widget-table-context td {
  padding: 10px;
  text-align: center;
}

.widget-table-actions-buttons > * {
  min-width: auto;
  margin: 0 5px;
}
